<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dipanshu.mycityapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".Weather_dir.MyCityApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBE08nG3eX2wSHaE1OqGsGKWZA5tC567H0" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7385925351941493~9173047204" />

        <activity android:name=".MMT" />
        <activity android:name=".GOIBIBO" />
        <activity android:name=".IRCTC" />
        <activity android:name=".REDBUS" />
        <activity android:name=".flights" />
        <activity android:name=".TRIVAGO" />
        <activity android:name=".hotels" />
        <activity android:name=".MENU" />
        <activity android:name=".TRAVEL" />
        <activity android:name=".OYO" />
        <activity android:name=".citydetails" />
        <activity android:name=".publicr" />
        <activity android:name=".weather" />
        <activity android:name=".WritingActivity" />
        <activity android:name=".Wall_activity" />
        <activity android:name=".ScrollingActivity" />
        <activity android:name=".Weather_dir.MapsActivity" />
        <activity android:name=".Weather_dir.MainActivity1" />
        <activity android:name=".Weather_dir.AlarmClass" />
        <activity android:name=".Weather_dir.sett" />
        <activity android:name=".cabs" />
        <activity android:name=".ola" />
        <activity android:name=".uber" />
        <activity android:name=".events" />
        <activity android:name=".zoomcar" />
        <activity android:name=".avis" />
        <activity android:name=".carrental" />
        <activity android:name=".newsclass" />
        <activity android:name=".Weather_dir.DetailNewsClass" />
        <activity android:name=".govtwall" />

        <service android:name=".Weather_dir.MyServices" />
    </application>


</manifest>